/* 1. RESET E CONFIGURAÇÕES GERAIS */
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

/* 2. CABEÇALHO (HEADER) */
header {
  padding: 60px;
  text-align: center;
  background-color: #1abc9c;
  color: #ffffff;
}

/* 3. MENU DE NAVEGAÇÃO (NAV) */
nav {
  display: flex;
  background-color: #333333;
}

nav a {
  color: #ffffff;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  background-color: #dddddd;
  color: #000000;
}

/* 4. ESTRUTURA DE LAYOUT (GRID) */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Coluna Principal (Esquerda) */
main {
  flex: 70%;
  background-color: white;
  padding: 20px;
}

/* Coluna Lateral (Direita) */
aside {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* 5. ELEMENTOS DE CONTEÚDO */
.fakeimg {
  background-color: #aaaaaa;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}

/* 6. RODAPÉ (FOOTER) */
footer {
  padding: 30px;
  text-align: center;
  background-color: #100e17;
  color: #ffffff;
}

/* 7. RESPONSIVIDADE (PARA CELULARES) */
@media screen and (max-width: 700px) {
  nav {
    flex-direction: column;
  }

  .row {
    flex-direction: column;
  }
}